# Backend Dependencies

# --- Web Framework ---
fastapi
uvicorn[standard]
python-multipart

# --- Database ---
sqlalchemy
psycopg2-binary
alembic

# --- Authentication ---
PyJWT
bcrypt
python-dotenv

# --- LLM & AI ---
openai
langchain
langchain-openai
langchain-community
langchain_groq
langgraph
langgraph-cli
langgraph-cli[inmem]

# --- Embeddings & Vector DB ---
sentence-transformers
chromadb

transformers==4.40.0
torch
# --- Tools ---
tavily-python


# --- NLP ---
spacy

# --- Security ---
slowapi
llm-guard

# --- Utilities ---
pydantic
pydantic-settings
httpx
logfire
logfire[system-metrics]
logfire[langchain]

# --- Testing ---
pytest
pytest-asyncio